body {
    width: 100%;
    background: url(../asset/background.jpg) center;
    margin: 0;
    
}


button {
    box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #e08c86 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-shadow:0px 1px 0px #810e05;
    margin: 15px;
}

label {
    margin-left: 15px;
    font-size: 18px;
}

input {
    margin: 8px;
    padding: 8px;
    font-size: 13px;
    border-width: 3px;
    border-color: #b8aeae;
    background-color: #FFFFFF;
    color: #000000;
    border-style: hidden;
    border-radius: 14px;
    box-shadow: 2px 8px 13px rgba(66,66,66,.63);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

input:focus {
    outline:none;
}


