@font-face {
    font-family: 'amble';
    src: url('font/amble/Amble-Regular.ttf');
    src: url('font/amble/Amble-Bold.ttf');
    src: url('font/amble/Amble-BoldItalic.ttf');
    src: url('font/amble/Amble-Italic.ttf');    

}



$color-1: #ffd7d7;
$color-2: #fd2d01;
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);


body {
    font-family: 'amble';
    font-weight: bold;
}


li {
    list-style: none;
}