.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    
}

.header-connect {
    display: flex;
    justify-content: center;
    background: white;
}


.search {
    margin: 25px 0 0 15px;
}
